.App {
  margin: 20px;
}

.creditcard-container {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 10px;
}

.rating-container {
  padding: 0 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.like-button-container {
  display: flex;
  gap: 16px;
}

hr {
  border: 3px solid black;
}
