.driver-card-container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #455eb5;
  color: white;
  gap: 10px;
}

.driver-card-img img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.driver-card-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.driver-card-infos h2 {
  margin: 0;
  padding: 0;
}
